body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}
h3{
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    color: #000;

}
.pad-top{
    padding-top: 5%;
}

.nav-item{
    padding-bottom: 4%;
    margin-left:5%;
    margin-right:5%;
    font-size: 1.5rem;
  }
  .navbar{
      padding-left: 0%;
  }
  .download-button{
      margin: 5% 3% 5% 0%;
  }
.container-fluid{
    padding: 3% 15% 7%;
    max-height: 48em;
    overflow: hidden;
}

.title-image{   
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#title{
    background-color: #ff4c68;
}

#features{
    background-color: white;
    padding: 7% 15%;
    position: relative;
}
.features-item{
    text-align: center;
    padding: 3%;
}
.features-icon{
    color: #EF8172;
    padding-bottom: 5%;
}

.features-icon:hover{
    color: #ff4c68;
}

.features-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.features-desc{
    color: #8f8f8f;
}

@media (max-width : 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

#testimonials{
    background-color: #EF8172;
}

#testimonial-carousel{
    padding: 5%;
}
.carousel-item{
    text-align: center;
    padding: 5%;
}
#press{
    text-align: center;
}
.press-images{
    padding: 1%;
}

#pricing{
    padding: 5%;
    text-align: center;
}